<div class='employee'>
    <h2>Name: {{employee.name}}</h2>
    <h2>Age: {{employee.age}}</h2>
    <h2>Title: {{employee.title}}</h2>
    <h2>Employee Since: {{employee.hireDate}}</h2>
</div>

<a href="/employees/{{employee._id}}/editEmployee">Edit Employee</a>

<form method="POST" and action="/employees/{{employee._id}}?_method=DELETE">
    <input type="submit" value="Remove Employee" />
</form>