<div class='review'>
    <h2>Name: {{review.name}}</h2>
    <h2>Date: {{review.date}}</h2>
    <h2>Location: {{review.locationAddress}}</h2>
    <h2>Review: {{review.review}}</h2>
</div>

<a href="/reviews/{{review._id}}/editReview">Edit Review</a>

<form method="POST" and action="/reviews/{{review._id}}?_method=DELETE">
    <input type="submit" value="Delete Review" />
</form>